
body {
    background-color:darkslategray;
 }
hr {
   border-style:none;
   border-top-style:dotted;
   border-spacing:2in;
   border-color:midnightblue;
   border-width: 5px;
   width: 10%;
   height: 5%; 
   text-align:center;
}
h1 {
    color: #191970;
    text-align:center;
}
td {
    color: #191970;
}




